<!doctype html>
<div class="container">
{% for page in vid_pages %}
	<div class="columns">
	{% for v in page %}
		<div class="column col-3">
			<div class="card" style="height: 400px;">
				<!--<div class="card-header" style="padding:0.8em;"> 
					<div class="card-title h6" style="font-size:.75rem;">{{v["title"]}}</div>
				</div>-->
				<div class="card-image" style="padding-top:10px; height: 45%;">
				  	<video
				  		style="width: 100%; height: 100%;"
					    id="vid-{{v['id']}}"
					    class="video-js vjs-default-skin"
					    controls
					    data-setup='{ "fluid": false, "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{v["url"]}}"}] }'>
		  			</video>
				</div>
				<div class="card-header" style="padding: 0.65rem; max-height: 15%; width:100%;">
					<div class="tags-{{v['id']}} main-carousel">
						{% for tag in v["keywords"] %}
				    		<div class="carousel-cell"><span class="label label-rounded label-primary" style="font-size:.70rem;">{{tag}}</span></div>
				  		{% endfor %}
					</div>
				</div>
				<div class="card-body" style="padding-top: 10px;">
					<p>{{v["description"]}}</p>
				</div>
				<!-- <div class="card-footer"></div> -->
			</div>
		</div>
	{% endfor %}
	</div>
{% endfor %}
</div>

<script>
	{% for page in vid_pages %}
	{% for v in page %}
	var vid_{{v['id']}} = videojs("vid-{{v['id']}}");

	vid_{{v['id']}}.markers({
		markerStyle: {
			'border-radius': '0%',
			'background-color': '#0097ff'
		},
		markerTip: {
			display: true,
			text: function(marker) {
				return marker.text
			}
		},
		markers: []
	});

	vid_{{v['id']}}.one('play', function(){
		vid_{{v['id']}}.markers.reset([
			{%- for s in v['scenes'] -%}
				{"time": {{s["start_time"]}}, "text": "{{s["label"]}}"},
			{%- endfor -%}
			]
		);
	});

	$('.main-carousel').flickity({ 
	  	freeScroll: true,
		contain: true,
		prevNextButtons: false,
		pageDots: false
	});

	
	{% endfor %}
	{% endfor %}
</script>